In [2]:
# 직각 이등변 삼각형과 사각형

def put_star(n):
    """n개의 '*'을 연속해서 출력"""
    for _ in range(n):
        print('*', end='')

print('직각 이등변 삼각형')
n = int(input('짧은 변의 길이：'))

for i in range(1, n + 1):
    put_star(i)
    print()

print('사각형')
w = int(input('가로：'))
h = int(input('세로：'))

for i in range(1, h + 1):
    put_star(w)
    print()

직각 이등변 삼각형
*
**
***
****
*****
사각형
*******
*******
*******
*******
*******
*******
*******
*******

In [ ]:
# 두 값의 최솟값과 최댓값 구하기

def min_max2(a, b):
    """a와 b의 최솟값과 최댓값을 구하여 리턴"""
    return (a, b) if a < b else (b, a)

n1 = int(input('정수 n1：'))
n2 = int(input('정수 n2：'))

minimum, maximum = min_max2(n1, n2) # pack한 뒤 unpack
print('최솟값은', minimum, '이고 최댓값은', maximum, '입니다.')

최솟값은 4 이고 최댓값은 5 입니다.

In [ ]:
def func():
    """아무것도 안하는 함수"""
    pass # return
print(func())

None

In [9]:
print(print('abc'))

abc
None

In [10]:
# 1부터 n까지의 합 구하기

def sum_1ton(n):
    """1부터 n까지의 합 구하기"""
    s = 0
    while n > 0:
        s += n
        n -= 1
    return s

x = 5
total = sum_1ton(x)
print('1부터 ', x, '까지의 합은 ', total, '입니다.', sep='')

1부터 5까지의 합은 15입니다.

In [11]:
print(x)

5

In [ ]:
n = 5
m=n
print(id(n))
print(id(m))
m -= 1
print(m)
print(n)
print(id(n))
print(id(m)) # 값이 4인 객체를 새로 가리킴

140723677710904
140723677710904
4
5
140723677710904
140723677710872

In [23]:
# 리스트의 요소 값 변경하기

def change(lst, idx, val):
    """lst[idx]의 값을 val으로 변경"""
    lst[idx] = val
    print(lst)

x = [11, 22, 33, 44, 55]
y=x[:]
print(id(x), id(y))
x2=x
print(id(x), id(x2))
index = 2
value = 99

# change(x, index, value)
change(x[:], index, value)
print('x =', x)

2506769059136 2506768982464
2506769059136 2506769059136
[11, 22, 99, 44, 55]
x = [11, 22, 33, 44, 55]

함수가 리스트를 전달받아 원본 수정을 못하게 하려면
슬라이싱을 사용하여 전달 x[:]

In [18]:
# 이름에 호칭을 붙여 인사하는 함수(인수의 기본값 사용하기)

def hello(name, honorific = '씨'):
    """호칭을 붙여서 인사하기"""
    print('안녕하세요, {} {}.'.format(name, honorific))

hello('박시은')
hello('김지연', '선생님')
hello('이서현', '님')
hello('정승제', '생선님')

안녕하세요, 박시은 씨.
안녕하세요, 김지연 선생님.
안녕하세요, 이서현 님.
안녕하세요, 정승제 생선님.

In [1]:
# 리스트에 있는 세 값의 최댓값을 구하기

def max3(a, b, c):
    """a, b, c의 최댓값을 구해 리턴"""
    max = a
    if b > max: max = b
    if c > max: max = c
    return max

lst1 = [1, 3, 5]
m = max3(*lst1) # 함수에 전달할 값이 이터러블 객체면 *로 언팩할 수 있음
print(lst1, '의 최댓값은', m, '입니다.')

[1, 3, 5] 의 최댓값은 5 입니다.

In [ ]:
# 인수의 합을 출력하면서 구하기(인수 언팩)

def print_sum(a, *no): # 여기서 *은 pack(튜플로 나머지 인수를 받음) / a=1, no = (3, 5, 7)
    """인수의 합을 리턴(식도 출력)"""
    sum = a
    print(a, end='')
    n = len(no)
    if n > 0:
        print(' + ', end='')
        for i in range(n - 1):
            sum += no[i]
            print(no[i], '+ ', end='')
        sum += no[n - 1]
        print(no[n - 1], end='')
    print(' =', sum)
    return sum

lst1 = [1, 3, 5, 7]
print_sum(*lst1) # unpack

In [ ]:
# 딕셔너리화된 키워드 인수 정보 출력하기

def print_kwargs(s, **kwargs): # pack - 튜플이 아닌, 딕셔너리로 packing
    """딕셔너리화된 키워드 인수를 받는 kwargs의 정보 출력하기"""
    print(s)
    print('type(kwargs) =', type(kwargs))
    print('len(kwargs)  =', len(kwargs))
    print('kwqrgs       =', kwargs)

print_kwargs('1번', spring='봄', summer='여름')
print()
print_kwargs('2번', spring='봄')

In [ ]:
# 딕셔너리에 저장된 사람의 정보 출력하기

def put_person(**person):
    """딕셔너리 person에 있는 정보를 출력"""
    if 'name' in person: print('이름 =', person['name'], end='  ')
    if 'visa' in person: print('국적 =', person['visa'], end='  ')
    if 'age'  in person: print('연령 =', person['age'],  end='  ')
    print()  # 개행

# 키워드 인수를 딕셔너리로 전달
put_person(name='손지형', visa='한국', age=27) 
put_person(name='조탁', visa='중국')

In [ ]:
# 딕셔너리형 인수를 **로 언팩하기

def puts(n, s): # 키워드를 딕셔너리의 키로 받음
    """n개의 s를 연속해서 출력"""
    for _ in range(n):
        print(s, end='')

d1 = {'n': 3, 's': '*'}     # '*' 3개
d2 = {'s': '+', 'n' :7}     # '+' 7개

puts(**d1) # unpack,puts(n=3, s='*')
print()
puts(**d2) # puts(s='+', n=7)

# **는 딕셔너리 연산자 없애고 키를 키워드로 바꿈

In [3]:
# 키워드 인수의 강제

def puts(*, n, s): # *은 특수역할 - 키워드 인수만 사용
    """n개의 s를 연속해서 출력"""
    for _ in range(n):
        print(s, end='')

puts(n = 3, s = '*')
print()
puts(s = '+', n = 7)
print()
puts(3, '*')    # 오류

***
+++++++

TypeError: puts() takes 0 positional arguments but 2 were given