In [2]:
# 직각 이등변 삼각형과 사각형

def put_star(n):
    """n개의 '*'을 연속해서 출력"""
    for _ in range(n):
        print('*', end='')

print('직각 이등변 삼각형')
n = int(input('짧은 변의 길이：'))

for i in range(1, n + 1):
    put_star(i)
    print()

print('사각형')
w = int(input('가로：'))
h = int(input('세로：'))

for i in range(1, h + 1):
    put_star(w)
    print()

직각 이등변 삼각형
*
**
***
****
*****
사각형
*******
*******
*******
*******
*******
*******
*******
*******

In [ ]:
# 두 값의 최솟값과 최댓값 구하기

def min_max2(a, b):
    """a와 b의 최솟값과 최댓값을 구하여 리턴"""
    return (a, b) if a < b else (b, a)

n1 = int(input('정수 n1：'))
n2 = int(input('정수 n2：'))

minimum, maximum = min_max2(n1, n2) # pack한 뒤 unpack
print('최솟값은', minimum, '이고 최댓값은', maximum, '입니다.')

최솟값은 4 이고 최댓값은 5 입니다.

In [ ]:
def func():
    """아무것도 안하는 함수"""
    pass # return
print(func())

None

In [9]:
print(print('abc'))

abc
None

In [10]:
# 1부터 n까지의 합 구하기

def sum_1ton(n):
    """1부터 n까지의 합 구하기"""
    s = 0
    while n > 0:
        s += n
        n -= 1
    return s

x = 5
total = sum_1ton(x)
print('1부터 ', x, '까지의 합은 ', total, '입니다.', sep='')

1부터 5까지의 합은 15입니다.

In [11]:
print(x)

5

In [ ]:
n = 5
m=n
print(id(n))
print(id(m))
m -= 1
print(m)
print(n)
print(id(n))
print(id(m)) # 값이 4인 객체를 새로 가리킴

140723677710904
140723677710904
4
5
140723677710904
140723677710872

In [23]:
# 리스트의 요소 값 변경하기

def change(lst, idx, val):
    """lst[idx]의 값을 val으로 변경"""
    lst[idx] = val
    print(lst)

x = [11, 22, 33, 44, 55]
y=x[:]
print(id(x), id(y))
x2=x
print(id(x), id(x2))
index = 2
value = 99

# change(x, index, value)
change(x[:], index, value)
print('x =', x)

2506769059136 2506768982464
2506769059136 2506769059136
[11, 22, 99, 44, 55]
x = [11, 22, 33, 44, 55]

함수가 리스트를 전달받아 원본 수정을 못하게 하려면
슬라이싱을 사용하여 전달 x[:]

In [18]:
# 이름에 호칭을 붙여 인사하는 함수(인수의 기본값 사용하기)

def hello(name, honorific = '씨'):
    """호칭을 붙여서 인사하기"""
    print('안녕하세요, {} {}.'.format(name, honorific))

hello('박시은')
hello('김지연', '선생님')
hello('이서현', '님')
hello('정승제', '생선님')

안녕하세요, 박시은 씨.
안녕하세요, 김지연 선생님.
안녕하세요, 이서현 님.
안녕하세요, 정승제 생선님.