# Chapter 02: 화면에 출력하고 키보드로 입력하기

In [1]:
a = 1
b = 2
print(a, b, 1, 3, 4, sep=', ') # sep은 구분자(값 사이에 넣을 문자)를 의미, 디폴트는 공백
print(a, b, 1, 3, 4, end='!!!') # end는 문자 뒤에 붙는 문자, 디폴트는 \n

1, 2, 1, 3, 4
1 2 1 3 4!!!

In [2]:
a = None
print(a)

None

In [3]:
sum([1, 2, 3])

6

- ipynb에선 상수 개념이 없기 때문에 내장 함수도 변수처럼 덮어쓸 수 있음
- `sum = 0`처럼 쓰면 내장 함수 `sum()`이 사라지고, 0을 가리키는 변수가 됨
- 그래서 커널을 재시작 해야함

In [5]:
sum = 0
print(sum([1, 2, 3]))

TypeError: 'int' object is not callable

### input 함수를 사용해서 문자열 입력받기

In [ ]:
# 1 2 3 4 5
data = input()
print(type(data)) # input 함수는 항상 문자열로 입력 받음, '1 2 3 4 5'

<class 'str'>

In [15]:
# 입력받은 문자열을 더하기
data = input()

# 1단계. split 함수를 사용해서 공백을 기준으로 분리
data = data.split(" ") # split 디폴트 값은 공백
print(data)

# 2단계. 정수로 변환해서 리스트에 저장
data = list(map(int, data))
print(data)

# 3단계. 정수 합계
print(sum(data))

['1', '2', '3', '4', '5']
[1, 2, 3, 4, 5]
15

### format 메소드를 이용해서 문자열 서식화

In [3]:
a = 5
print('result : {}'.format(a)) # 'result : 5'
b = 3.141592
print(f'result : {b:.2f}') # .2f - 소수점 둘째 자리까지 표시

result : 5
result : 3.14