In [ ]:
lst = [1, 2, 3]
lst2 = list(range(5))
print(lst2)

tup = (1, 2, 3)
tup2 = tuple(range(5))
print(tup2)
# tup2[0] = 99 # 변경 불가능

[0, 1, 2, 3, 4]
(0, 1, 2, 3, 4)

In [13]:
tup3 = 1, # 튜플은 소괄호 생략 가능
print(type(tup3))

n = [1, 2, 3] # 리스트는 대괄호를 붙여야 함
print(type(n))

tup4 = 1, 2, 3 # 쉼표로 구분
print(type(tup4))

<class 'tuple'>
<class 'list'>
<class 'tuple'>

In [ ]:
# 튜플 생성

# 방법1 : ()를 사용
t = (1, 2, 3)
print(t)

# 방법2 : tuple() 함수로 생성
t1 = tuple([1, 2, 3]) # 리스트에서 생성
print(t1)
t2 = tuple({1, 2, 3}) # 집합에서 생성
print(t2)
t3 = tuple(range(5)) # 이터러블 객체 사용
print(t3)

# 방법3 : divmod() 함수 사용
t4 = divmod(13, 3) # divmod(n, m) - n을 m으로 나눈 몫과 나머지를 튜플로 생성 
print(t4)

(1, 2, 3)
(1, 2, 3)
(1, 2, 3)
(0, 1, 2, 3, 4)
(4, 1)

In [ ]:
tp1 = (1, 2, 3)
print(id(tp1))

tp1 += (4, 5)
print(tp1)
print(id(tp1)) # id가 변경됨 - 새로 생성된 튜플을 참조(리스트와 반대)

2419525166592
(1, 2, 3, 4, 5)
2419524878176

In [23]:
# 튜플은 불변 객체라 정렬 불가능
x = (1, 3, 2)
x = tuple(sorted(x)) # 정렬된 리스트를 튜플로 반환
print(x)

(1, 2, 3)

In [ ]:
# 튜플을 받은 튜플 함수는 그대로 리턴(동일한 객체를 참조)
tpl1 = (1, 2, 3, 4, 5)
tpl2 = tuple(tpl1)
print(id(tpl1))
print(id(tpl2))

2419531808992
2419531808992

In [1]:
tp = 1, 2, 3, 4 # pack
print(tp)
a, b, _, _ = tp # unpack - 특정 값만 필요하면 그 외는 _로 함
print(a, b)

x, y, _ = 1, 2, 3 # pack을 먼저하고 다음에 unpack

a, b, *c = tp # unpack의 리스트화 - a에 1, b에 2, c에 [3, 4]대입
print(a, b, c)

(1, 2, 3, 4)
1 2
1 2 [3, 4]

### enumerate() 함수
- 문자열과 리스트 등의 이터러블 객체에서 인덱스와 요소의 쌍으로 팩한 튜플을 추출
- 추출된 튜플은 암묵적으로 언팩되어 변수에 대입

In [7]:
# 튜플 리스트
students = [
    (2012, '김서준'),
    (2013, '이서아'),
    (2011, '최하준'),
]

print(students)
print(students[0])
print(students[0][0]) # 튜플 인덱싱도 대괄호로 표현

[(2012, '김서준'), (2013, '이서아'), (2011, '최하준')]
(2012, '김서준')
2012

In [11]:
# zip() 함수
p1 = [1, 2, 3, 4]
p2 = [100, 200, 300, 400]
name = ['김서준', '이서아', '최하준']

z = zip(p1, p2) # (1, 100), (2, 200), (3, 300), (4, 400)으로 쌍을 지어 튜플로 만듦
tp = tuple(zip(p1, p2, name))

print(z) # 객체가 출력됨 - z는 zip 객체를 가리키는 참조변수
print(list(z)) # list(iterable객체) - list()로 감싸서 튜플 형태로 리스트에 담겨서 보임
print(tp)

<zip object at 0x000002EC940B1F80>
[(1, 100), (2, 200), (3, 300), (4, 400)]
((1, 100, '김서준'), (2, 200, '이서아'), (3, 300, '최하준'))